# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
# Usually contains a lot of files, only include if you have a specific reason to keep
# bundled/
# unpacked/

# Environments
.env
.venv
.envrc
.meteor
*.log
*.tmp

# pyenv
.python-version

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Caches
__pycache__/
*.py[cod]
*$py.class

# IDE specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# System files
.DS_Store
Thumbs.db

# Test reports
coverage.xml
*.cover
.hypothesis/
.tox/
.pytest_cache/

# Local test configurations
pytest.ini
tox.ini

# Profiler
*.profile
*.pstats
*.out

#Testcases zum Ausführen excluden
*.json